
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
  }
  
  .modal {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    width: 90%;
    padding: 24px;
    position: relative;
  }
  
  .title {
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 16px;
  }
  
  .close-btn {
    display:none;
    position: absolute;
    top: 8px;
    right: 16px;
    font-size: 24px;
    color: #888;
    cursor: pointer;
  }
  
  .close-btn:hover {
    color: #333;
  }

  .follow-items {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }

  .profile-image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
  }

  .follow-name {
    display: flex;
    align-items: center;
  }

  .name {
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
  }

  .follow-List {
    max-height: 300px; /* 스크롤 영역의 최대 높이 설정 */
    overflow-y: auto; /* 세로 스크롤 활성화 */
  }