.navbar {
    background-color: white;
    border-bottom: 1px solid #dbdbdb;
    padding: 8px 0;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 975px;
    margin: 0 auto;
}

.navbar-brand .logo {
    display: block;
}

.navbar-brand .logo img {
    height: 35px;
}

.nav-menu {
    display: flex;
}

.nav-links {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-links li {
    margin-left: 24px;
}

.nav-links li a {
    color: #262626;
    text-decoration: none;
    font-weight: 600;
    font-size: 16px;
}

.nav-links li a img {
    height: 24px;
    border-radius: 50%;
}

.search-container {
    position: relative;
    display: flex;
    align-items: center;
}

.text-btn{
    font-weight: 600;
    text-decoration: none;
    cursor: pointer;
}

    .search-icon {
    position: absolute;
    left: 10px;
    color: #999;
}

.nav-links li .input {
    background-color: #efefef;
    border: none;
    border-radius: 3px;
    color: #262626;
    font-size: 14px;
    font-weight: 400;
    padding: 6px 12px 6px 30px; /* 아이콘 크기 만큼 왼쪽 여백 추가 */
    width: 200px;
}

/* 기존 스타일은 유지 */
.nav-links li .input:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.nav-links li .input::placeholder {
    color: #999;
}